body {
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: darkturquoise;
}

button {
    height: 30px;
    background-color: deeppink;
}

ul,
button,
label,
legend,
p {
    font-weight: bold;
}