body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

form {
    border: 3px solid black;
    margin: 15px;
    padding: 20px;
}

fieldset {
    border-width: 0px;
}

button {
    display: block;
}